.form {
  background-color: #FFF;
  color: #FFF;
  padding-bottom: 150px;
}


.form__main-form {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 50px;
  padding: 52px 67px 51px 67px;
  box-sizing: border-box;
  border-radius: 54px;
  background: #E8434B;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 1071px) {
  .form__main-form {
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 767.98px) {
  .form__main-form {
    padding: 30px 20px;
    gap: 20px;
  }
}

.form__info-block {
  z-index: 10;
}

.form__title {
  margin: 0 0 12px 0;
  font-size: 40px;
  font-weight: 700;
  line-height: 121.7%;
}

@media screen and (max-width: 1279.98px) {
  .form__title {
    font-size: 35px;
  }
}

@media screen and (max-width: 1071px) {
  .form__title {
    text-align: center;
  }
}

@media screen and (max-width: 470px) {
  .form__title {
    font-size: 27px;
  }
}

@media screen and (max-width: 380px) {
  .form__title {
    font-size: 20px;
  }
}

.form__luring {
  padding: 11px 25px 10px 22px;
  margin: 0;
  font-size: 16px;
  line-height: 121.7%;
  border-radius: 33px;
  background: #DB3F46;
  width: fit-content;
}

@media screen and (max-width: 1071px) {
  .form__luring {
    margin: 0 auto;
  }
}

@media screen and (max-width: 470px) {
  .form__luring {
    font-size: 13px;
  }
}

.form__input-block {
  z-index: 10;
  display: flex;
  flex-direction: column;
  width: 75%;
}

@media screen and (max-width: 1071px) {
  .form__input-block {
    width: 100%;
  }
}

.form__subtext {
  margin: 0 0 20px 0;
  font-size: 16px;
  line-height: 121.7%; 
}

@media screen and (max-width: 1071px) {
  .form__subtext {
    text-align: center;
  }
}

@media screen and (max-width: 470px) {
  .form__subtext {
    font-size: 14px;
  }
}

.form__input {
  padding: 16px 25px 17px 21px;
  border-radius: 18px; 
  border: 1px solid #FF7980;
  background: #FFF;
  outline: none;
  color: #E8434B;
  font-size: 14px;
  line-height: 121.7%;
}

@media screen and (max-width: 470px) {
  .form__input {
    font-size: 12px;
  }
}

.form__input:not(:last-child) {
  margin-bottom: 9px;
}

.form__input:last-child {
  margin-bottom: 16px;
}

.form__input::placeholder {
  color: #E8434B;
  font-size: 14px;
  line-height: 121.7%;
  opacity: .4;
}

@media screen and (max-width: 470px) {
  .form__input::placeholder {
    font-size: 12px;
  }
}

.form__submit {
  color: #FFF;
  padding: 14px 0;
  background-color: #4FCA44;
  border-radius: 11.93px;
  text-align: center;
  font-size: 15px;
  font-weight: 600;
  line-height: 121.7%;
  margin-bottom: 11px;
  border: none;
  transition: opacity .24s linear;
}

.form__submit:hover {
  cursor: pointer;
  opacity: .6;
}

.form__confident {
  font-size: 12px;
  line-height: 121.7%;
}

@media screen and (max-width: 1071px) {
  .form__confident {
    text-align: center;
  }
}

.form__confident-link {
  color: inherit;
  text-decoration: underline;
}

.form__help-bg {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  pointer-events: none;
}