@import url(./vendor/normalize.css);
@import url(./vendor/fonts/fonts.css);

body {
  font-family: 'Montserrat', 'Arial', sans-serif;
  font-weight: 400;
  background-color: #552580;
  font-style: normal;
  background-image: url(./images/bg-violet.png);
  background-size: cover;
  background-repeat: no-repeat;
  overflow-x: hidden;
}

.main {
  overflow: hidden;
}

.sub-heading {
  color: #E8434B;
  font-size: 16px;
  font-weight: 500;
  line-height: 121.7%; /* 19.472px */
  text-transform: uppercase;
}

.heading {
  color: #222;
  font-size: 46px;
  font-weight: 700;
  line-height: 121.7%; 
}

@media screen and (max-width: 767.98px) {
  .heading {
    font-size: 40px;
  }
}

.auto-padding {
  padding-left: 150px;
  padding-right: 150px;
}

@media screen and (max-width: 1279.98px) {
  .auto-padding {
   padding-left: 100px;
   padding-right: 100px;
  }
}

@media screen and (max-width: 767.98px) {
  .auto-padding {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.auto-width {
  max-width: 1440px;
  margin: 0 auto;
}

.burger-btn {
  position: fixed;
  top: 40px;
  right: 100px;
  z-index: 100;
  display: none;
  transition: opacity .24s linear;
}

@media screen and (max-width: 1000px) {
  .burger-btn {
    display: block;
  }
}

@media screen and (max-width: 767.98px) {
  .burger-btn {
   right: 20px;
  }
}


.burger-btn_active {
  top: 45px;
}

.burger-btn:hover {
  opacity: .6;
  cursor: pointer;
}

.burger-line {
  width: 20px;
  height: 2px;
  background-color: #FFF;
  transition: transform .24s linear;
}

.burger-line:not(:last-child) {
  margin-bottom: 5px;
}

.burger-line_active:nth-child(2) {
  display: none;
}

.burger-line_active:nth-child(1) {
  transform: rotate(45deg);
  margin-bottom: -2px;
}

.burger-line_active:nth-child(3) {
  transform: rotate(-45deg);
  margin-bottom: 0;
}